---
permalink: "/sitemap.xml"
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and page.url != "/sitemap.xml" and page.url != "/robots.txt" %}
  <url>
    <loc>https://www.callteam.ca{{ page.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>{% if page.url == "/" %}1.0{% else %}0.8{% endif %}</priority>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
