---
permalink: "/sitemap.xml"
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and page.url != "/sitemap.xml" and page.url != "/robots.txt" %}
  <url>
    <loc>https://www.callteam.ca{{ page.url }}</loc>
    {%- set lastModified = page.data.modified or page.data.date %}
    {%- if lastModified %}
    <lastmod>{{ lastModified | sitemapDate }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
{%- for script in callScripts %}
  <url>
    <loc>https://www.callteam.ca/resources/cold-call-scripts/{{ script.slug }}/</loc>
    <lastmod>2026-08-15</lastmod>
  </url>
{%- endfor %}
</urlset>
